<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Jika file atau folder tidak ada, alihkan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Jika mod_rewrite tidak tersedia, beri tahu pengguna
    ErrorDocument 404 "mod_rewrite is not enabled on this server."
</IfModule>
